---
import { getEmDashEntry } from "emdash";
import Base from "../layouts/Base.astro";
import MarketingBlocks from "../components/MarketingBlocks.astro";

const slug = Astro.params.slug;

const { entry: page, cacheHint } = await getEmDashEntry("pages", slug);

Astro.cache.set(cacheHint);

if (!page) {
	return Astro.redirect("/404");
}

const pageTitle = page.data.title;
const pageContent = page.data.content;
---

<Base title={pageTitle} description={pageTitle}>
	{pageContent ? <MarketingBlocks value={pageContent} /> : <h1>{pageTitle}</h1>}
</Base>
